// fonts

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Caveat&family=Domine&display=swap');

$font-header: 'Alfa Slab One', cursive;
$font-handwriting: 'Caveat', cursive;
$font-normal: 'Domine', serif;

$color-white: #fffffc;

$themes: (
    Standard: (
        colorOne: #fffffc,
        colorTwo: #fdffb6,
        colorThree: #9bf6ff,
        fontColor: #242423,
        fontFamily: $font-normal
    ),
    Rainbows&Unicorns: (
        colorOne: #F5F4F4,
        colorTwo: #242423,
        colorThree: #242423,
        fontColor: #242423
    ),
    Moody: (
        colorOne: #F5F4F4,
        colorTwo: #242423,
        colorThree: #242423,
        fontColor: #242423
    ),
    Random: (
        colorOne: #F5F4F4,
        colorTwo: #242423,
        colorThree: #242423,
        fontColor: #242423
    )
);

@mixin on-hover {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            @content;
        }
    }
}

@mixin theme($key, $color) {
    @each $theme-name, $theme-color in $themes {
        .theme-#{$theme-name} & {
            #{$key}: map-get(map-get($themes, $theme-name), $color)
        }
    }
}

@mixin media($point) {
    @if $point == desktop {
      @media (min-width: 55em)  { @content ; }
    }
    @else if $point == notMobile {
        @media (min-width: 35em)  { @content ; }
     }
    @else if $point == notDesktop {
      @media (max-width: 55em)  { @content ; }
   }
}