@import './_variables.scss';

.code{
    background-color: $color-white;
    flex: 90%;
    max-width: 90%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    //--------------------------------------------------------------------------//
    // setting margin on children to have a padding effect on parent container. 
    // Can't set padding on parent as it is visible when the container is closed
    &:first-child{
        margin-top: 8em;
    }

    &:nth-child(2){
        @include media('notMobile'){
            margin-top: 8em;
        }
    }

    &:nth-child(3){
        @include media('desktop'){
            margin-top: 8em;
        }
    }

    &:last-child{
        margin-bottom: 8em;
    }

    &:nth-last-child(-n+2){
        @include media('notMobile'){
            margin-bottom: 8em;
        }
    }

    &:nth-last-child(-n+3){
        @include media('desktop'){
            margin-bottom: 8em;
        }
    }
    //--------------------------------------------------------------------------//

    @include media('notMobile'){
        flex: 45%;
        max-width: 45%;
        gap: 4em;
    }

    @include media('desktop'){
        flex: calc(90vw * 0.33333);
        max-width: calc(90vw * 0.33333);    
        gap: 6em;
        
        @include on-hover{
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

            .imgContainer{
                opacity: 1;
            }
        }
    }
    
    .imgContainer{
        width: 60%;
        height: auto;
        
        @include media('desktop'){
            opacity: 0.6;
        }
    }

    p{
        @include media('desktop'){
            
        }
    }

    a{
        margin-top: auto;
        cursor: pointer;

        svg{
            border-radius: 50%;

            @include on-hover{
                background-color: black;
                color: $color-white;
            }
        }
    }
}