@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Kanit:wght@300&family=Modak&family=Moul&family=Caveat&family=Kalam&family=Titan+One&family=Domine&display=swap");
.arrowUp {
  position: fixed;
  z-index: 99;
  width: 5em;
  height: 5em;
  right: 1em;
  bottom: 10em;
  cursor: pointer;
  padding: 2em;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 15px -5px RGB(0 0 0/80%);
          box-shadow: 0 0 15px -5px RGB(0 0 0/80%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.12s ease-in-out;
  transition: all 0.12s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .arrowUp:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-box-shadow: 0 0 15px -3px RGB(0 0 0/100%);
            box-shadow: 0 0 15px -3px RGB(0 0 0/100%);
  }
}

.arrowUp .arrowUpInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer {
  padding-top: 2em;
  position: relative;
}

:global(.theme-Standard) .footer {
  background-color: #7fdcff;
}

:global(.theme-Ukraine) .footer {
  background-color: #FFD500;
}

.footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  padding: 1em 2em;
  margin: 2em auto;
  border-radius: 2em;
  background: url("/images/background.jpg") no-repeat;
  background-size: cover;
}

@media (min-width: 60em) {
  .footer .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer .contact p {
  margin-right: 1em;
  font-size: 1.2em;
}

.footer .contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .contact form input, .footer .contact form textarea {
  width: 100%;
  max-width: 600px;
  padding: 0.5em 1.25em;
  margin: 1em 0;
  border-radius: 0.5em;
  border: 1px solid black;
}

.footer .contact form #ContactBtn {
  width: 50%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  border: none;
  padding: 0.5em;
  font-weight: 800;
}

:global(.theme-Standard) .footer .contact form #ContactBtn {
  background-color: #fe5f55;
}

:global(.theme-Ukraine) .footer .contact form #ContactBtn {
  background-color: #242423;
}

:global(.theme-Standard) .footer .contact form #ContactBtn {
  color: #242423;
}

:global(.theme-Ukraine) .footer .contact form #ContactBtn {
  color: #FFD500;
}

@media (min-width: 35em) {
  .footer .contact form #ContactBtn {
    padding: 1em 2.5em;
  }
}

@media (hover: hover) and (pointer: fine) {
  .footer .contact form #ContactBtn:hover {
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  :global(.theme-Standard) .footer .contact form #ContactBtn:hover {
    background-color: #fa8d85;
  }
  :global(.theme-Ukraine) .footer .contact form #ContactBtn:hover {
    background-color: #fa8d85;
  }
}

.footer .bottomContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 60em) {
  .footer .bottomContainer {
    padding: 1em;
  }
}

.footer .bottomContainer button {
  cursor: pointer;
}

.footer .copyright {
  margin-top: 2em;
  text-align: center;
}
/*# sourceMappingURL=Footer.module.css.map */