@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Kanit:wght@300&family=Modak&family=Moul&family=Caveat&family=Kalam&family=Titan+One&family=Domine&display=swap");
.container {
  width: 100%;
  padding-right: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 6px 0 15px 0 RGB(0 0 0/5%);
          box-shadow: 6px 0 15px 0 RGB(0 0 0/5%);
}

:global(.theme-Standard) .container {
  background-color: #fffffc;
}

:global(.theme-Ukraine) .container {
  background-color: #005BBB;
}

:global(.theme-Standard) .container {
  color: #242423;
}

:global(.theme-Ukraine) .container {
  color: #FFD500;
}

.container h1 {
  font-size: 2em;
  padding: 0.6em 0;
}

:global(.theme-Standard) .container h1 {
  font-family: Alfa Slab One, Moul, Modak, Impact, monospace;
}

:global(.theme-Ukraine) .container h1 {
  font-family: Alfa Slab One, Moul, Modak, Impact, monospace;
}

.container .navContainer .hamburger {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 2em;
  position: absolute;
  top: 0.8em;
  right: 0.1em;
  z-index: 99999;
}

.container .navContainer .hamburgerOpen {
  top: 0.7em;
  color: #fffffc;
  -webkit-transform: rotate(450deg);
          transform: rotate(450deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container .navContainer .navlinkContainer {
  display: none;
}

@media (min-width: 60em) {
  .container .navContainer .navlinkContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container .navContainer .navlinkContainer .linkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .navContainer .navlinkContainer .linkContainer a {
  padding: 0.5em 1em;
  cursor: pointer;
  font-weight: 600;
}

:global(.theme-Standard) .container .navContainer .navlinkContainer .linkContainer a {
  color: #242423;
}

:global(.theme-Ukraine) .container .navContainer .navlinkContainer .linkContainer a {
  color: #FFD500;
}

.container .navContainer .navlinkContainer .linkContainer .aNotActive {
  width: 0%;
  border-bottom: 3px solid black;
}

.container .navContainer .navlinkContainer .linkContainer .aActive {
  width: 100%;
  border-bottom: 3px solid black;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.navLinksMobileContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 0;
  -webkit-transition: 1s;
  transition: 1s;
  background-color: black;
  opacity: 0.8;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}

.navLinksMobileContainer .linkContainer {
  margin: 3em 0;
}

.navLinksMobileContainer a {
  color: #fffffc;
  font-weight: 600;
  font-size: 2em;
}

.navLinksMobileContainer .aActive {
  border-bottom: 3px solid #fffffc;
  width: 100%;
}

.navLinksMobileContainerOpen {
  z-index: 9999;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

.contactBtn {
  padding: 0.8em 3em;
  border-radius: 1em;
  font-size: 1.2em;
  font-weight: 700;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
}

:global(.theme-Standard) .contactBtn {
  background-color: #fe5f55;
}

:global(.theme-Ukraine) .contactBtn {
  background-color: #242423;
}

@media (hover: hover) and (pointer: fine) {
  .contactBtn:hover {
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  :global(.theme-Standard) .contactBtn:hover {
    background-color: #fa8d85;
  }
  :global(.theme-Ukraine) .contactBtn:hover {
    background-color: #fa8d85;
  }
}

@media (min-width: 60em) {
  .contactBtn {
    margin-left: 1em;
    font-size: 1em;
  }
}
/*# sourceMappingURL=Header.module.css.map */