@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Kanit:wght@300&family=Modak&family=Moul&family=Caveat&family=Kalam&family=Titan+One&family=Domine&display=swap");
.containerBlurred {
  opacity: 0.3;
}

.container {
  margin-top: 2em;
  overflow: hidden;
}

.container .gearContainer {
  width: 80%;
  height: auto;
  position: absolute;
  top: 32em;
  left: -40%;
  z-index: -1;
  -webkit-transition: all 0.12s ease-in-out;
  transition: all 0.12s ease-in-out;
}

@media (min-width: 35em) {
  .container .gearContainer {
    width: 500px;
    top: 40em;
    left: -16em;
  }
}

@media (min-width: 60em) {
  .container .gearContainer {
    width: 700px;
    top: 30em;
    left: -22em;
  }
}

.container .gearContainer * {
  opacity: 0.7;
}

.container .themeTicker {
  padding: 0.5em 0;
  overflow: hidden;
  position: absolute;
  top: 5em;
  right: 1em;
  width: 200px;
  height: 100px;
  border: 1px solid black;
}

:global(.theme-Standard) .container .themeTicker {
  background-color: #7fdcff;
}

:global(.theme-Ukraine) .container .themeTicker {
  background-color: #FFD500;
}

.container .sectionOne {
  background: url("/images/background.jpg") no-repeat;
  background-size: cover;
  font-size: 1.2em;
  min-height: 65vh;
  margin: 2em;
  padding: 6em 1em 4em;
  border-radius: 2em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 35em) {
  .container .sectionOne {
    padding: 14em 2em 6em;
  }
}

@media (min-width: 60em) {
  .container .sectionOne {
    margin: 2em 10vw;
  }
}

.container .sectionOne .IamBramContainer {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container .sectionOne .IamBramContainer .Iam, .container .sectionOne .IamBramContainer .Bram {
  font-size: 12vw;
  font-family: Alfa Slab One, Moul, Modak, Impact, monospace;
  line-height: 90%;
  position: absolute;
}

@media (min-width: 35em) {
  .container .sectionOne .IamBramContainer .Iam, .container .sectionOne .IamBramContainer .Bram {
    font-size: 10vw;
  }
}

.container .sectionOne .IamBramContainer .Iam {
  -webkit-transform: translateY(-1em);
          transform: translateY(-1em);
}

@media (min-width: 35em) {
  .container .sectionOne .IamBramContainer .Iam {
    bottom: 0.2em;
    right: 0.2em;
  }
}

@media (min-width: 35em) {
  .container .sectionOne .IamBramContainer .Bram {
    bottom: 0.2em;
    right: 0.2em;
  }
}

.container .sectionOne .IamBramContainer .IamAnimated, .container .sectionOne .IamBramContainer .BramAnimated {
  background: -webkit-gradient(linear, right top, left top, from(#000), color-stop(80%, #000), color-stop(83%, #345255), color-stop(84%, #67A4AA), color-stop(85%, #81CDD5), color-stop(86%, #9BF6FF), color-stop(87%, #81CDD5), color-stop(88%, #67A4AA), color-stop(89%, #345255), color-stop(90%, #000), to(#000));
  background: linear-gradient(to left, #000 0%, #000 80%, #345255 83%, #67A4AA 84%, #81CDD5 85%, #9BF6FF 86%, #81CDD5 87%, #67A4AA 88%, #345255 89%, #000 90%, #000 100%);
  background-size: 900% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 10s linear infinite 2s;
          animation: shine 10s linear infinite 2s;
}

@-webkit-keyframes shine {
  to {
    background-position: 100% center;
  }
}

@keyframes shine {
  to {
    background-position: 100% center;
  }
}

.container .sectionOne aside {
  -webkit-transform: rotate(-90deg) translateX(-25vw);
          transform: rotate(-90deg) translateX(-25vw);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  line-height: 120%;
  font-size: 3.7vw;
}

@media (min-width: 60em) {
  .container .sectionOne aside {
    position: absolute;
    top: 13em;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    font-size: 4.5vh;
  }
}

.container .sectionOne .btnContainer {
  display: -ms-grid;
  display: grid;
  width: 8em;
  border-radius: 1em;
  -webkit-transform: translate(35%, 20%);
          transform: translate(35%, 20%);
  cursor: pointer;
}

@media (min-width: 35em) {
  .container .sectionOne .btnContainer {
    -webkit-transform: translate(30%, 170%);
            transform: translate(30%, 170%);
    width: 14em;
  }
}

.container .sectionOne .btnContainer .frontBtn, .container .sectionOne .btnContainer .backBtn {
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
}

:global(.theme-Standard) .container .sectionOne .btnContainer .frontBtn, :global(.theme-Standard) .container .sectionOne .btnContainer .backBtn {
  color: #242423;
}

:global(.theme-Ukraine) .container .sectionOne .btnContainer .frontBtn, :global(.theme-Ukraine) .container .sectionOne .btnContainer .backBtn {
  color: #FFD500;
}

@media (min-width: 60em) {
  .container .sectionOne .btnContainer .frontBtn, .container .sectionOne .btnContainer .backBtn {
    font-size: 1.2em;
  }
}

.container .sectionOne .btnContainer .backBtn {
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8em;
  opacity: 0;
  border-radius: 1em;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.container .sectionOne .btnContainer .backBtn .download {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4em;
  border-radius: 50%;
}

:global(.theme-Standard) .container .sectionOne .btnContainer .backBtn .download {
  background-color: #fe5f55;
}

:global(.theme-Ukraine) .container .sectionOne .btnContainer .backBtn .download {
  background-color: #242423;
}

.container .sectionOne .btnContainer .frontBtn {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  opacity: 1;
  border-radius: 1em;
  -webkit-transition: all 0.5s ease-in-out 0.6s;
  transition: all 0.5s ease-in-out 0.6s;
}

:global(.theme-Standard) .container .sectionOne .btnContainer .frontBtn {
  background-color: #fe5f55;
}

:global(.theme-Ukraine) .container .sectionOne .btnContainer .frontBtn {
  background-color: #242423;
}

@media (hover: hover) and (pointer: fine) {
  .container .sectionOne .btnContainer:hover .frontBtn {
    font-size: 0;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .container .sectionOne .btnContainer:hover .backBtn {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out 0.6s;
    transition: opacity 0.5s ease-in-out 0.6s;
  }
}

.container .hiddenContainer {
  overflow: hidden;
  -webkit-transition: height 0.12s ease-in-out;
  transition: height 0.12s ease-in-out;
  position: relative;
}

.container .hiddenContainer .hiddenInnerContainer {
  margin: 2em 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
}

@media (min-width: 35em) {
  .container .hiddenContainer .hiddenInnerContainer {
    margin: 2em 4em 0 8em;
    text-align: unset;
  }
}

@media (min-width: 60em) {
  .container .hiddenContainer .hiddenInnerContainer {
    margin: 4em 7em 0 10vw;
    text-align: unset;
  }
}

.container .hiddenContainer .hiddenInnerContainer .hiddenHeaderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 35em) {
  .container .hiddenContainer .hiddenInnerContainer .hiddenHeaderContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    text-align: center;
    margin-top: 1em;
  }
}

.container .hiddenContainer .hiddenInnerContainer .hiddenHeaderContainer .meWrapper {
  background: url("/images/me.jpg") no-repeat;
  background-size: cover;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1em;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.container .hiddenContainer .hiddenInnerContainer .hiddenHeaderContainer .headerTextWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 35em) {
  .container .hiddenContainer .hiddenInnerContainer .hiddenHeaderContainer .headerTextWrapper {
    margin-left: 4em;
    margin: 0 2em;
  }
}

.container .hiddenContainer .hiddenInnerContainer .hiddenHeaderContainer .headerTextWrapper h2 {
  font-size: 2em;
}

.container .hiddenContainer .hiddenInnerContainer .hiddenHeaderContainer .headerTextWrapper h4 {
  margin-top: 1em;
  font-size: 1.3em;
}

@media (min-width: 35em) {
  .container .hiddenContainer .hiddenInnerContainer .hiddenHeaderContainer .headerTextWrapper h4 {
    margin-left: 0;
  }
}

.container .hiddenContainer .hiddenInnerContainer > p {
  padding: 1em 0;
  margin-top: 0.5em;
  font-size: 1.1em;
}

@media (min-width: 60em) {
  .container .hiddenContainer .hiddenInnerContainer > p {
    margin-left: 5em;
    padding-left: 2em;
  }
}

.container .hiddenContainer .hiddenInnerContainer .oldMan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1em;
}

.container .hiddenContainer .hiddenInnerContainer .oldMan > div {
  max-height: 90%;
  width: 12em;
}

.container .hiddenContainer .hiddenInnerContainer .oldMan > p {
  padding-top: 1em;
}

.container .sectionTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 25em;
  padding-bottom: 10em;
  -webkit-box-shadow: 0 -5px 12px 3px RGB(0 0 0/5%);
          box-shadow: 0 -5px 12px 3px RGB(0 0 0/5%);
}

@media (min-width: 60em) {
  .container .sectionTwo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.container .sectionTwo .divOne {
  padding: 1em;
  text-align: center;
}

:global(.theme-Standard) .container .sectionTwo .divOne {
  color: #242423;
}

:global(.theme-Ukraine) .container .sectionTwo .divOne {
  color: #FFD500;
}

@media (min-width: 60em) {
  .container .sectionTwo .divOne {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.container .sectionTwo .divQoute {
  font-family: Kalam, Caveat, Bradley Hand, cursive;
  margin: 1.5em;
  padding: 6em 2em;
  border-radius: 2em;
  position: relative;
}

:global(.theme-Standard) .container .sectionTwo .divQoute {
  background-color: #7fdcff;
}

:global(.theme-Ukraine) .container .sectionTwo .divQoute {
  background-color: #FFD500;
}

@media (min-width: 35em) {
  .container .sectionTwo .divQoute {
    margin: 1.5em 5em;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
}

.container .sectionTwo .divQoute q {
  font-size: 2em;
  opacity: 0;
}

.container .sectionTwo .divQoute cite {
  font-size: 1.3em;
  position: absolute;
  right: 3em;
  bottom: 3em;
  opacity: 0;
}

.container .sectionTwoVis {
  padding-top: 5em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container .sectionTwoVis .divQoute q {
  opacity: 1;
  -webkit-transition: all 0.25s ease-in-out 0.5s;
  transition: all 0.25s ease-in-out 0.5s;
}

.container .sectionTwoVis .divQoute cite {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out 0.8s;
  transition: all 0.2s ease-in-out 0.8s;
}

.container .sectionThree {
  position: relative;
  min-height: 70vh;
  width: 100%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .sectionThree .divOnImg {
  padding: 1em;
  margin: 1em 0;
  width: 80vw;
  color: transparent;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 1.5px;
  text-align: center;
  z-index: 99;
  opacity: 0;
  -webkit-transform: translateY(160px);
          transform: translateY(160px);
  -webkit-transition: color 0.4s linear 0.4s, background-color 0.4s linear 0.2s;
  transition: color 0.4s linear 0.4s, background-color 0.4s linear 0.2s;
}

@media (min-width: 60em) {
  .container .sectionThree .divOnImg {
    padding: 6em 8em;
    margin: 2em 0;
  }
}

.container .sectionThree .divOnImgLoaded {
  background-color: rgba(108, 117, 125, 0.85);
  border-radius: 1em;
  color: #fffffc;
  padding: 3em;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: color 0.4s linear 0.5s, background-color 0.4s linear 0.5s, opacity 0.2s linear 0.2s, -webkit-transform 0.6s ease-in-out 0.2s;
  transition: color 0.4s linear 0.5s, background-color 0.4s linear 0.5s, opacity 0.2s linear 0.2s, -webkit-transform 0.6s ease-in-out 0.2s;
  transition: color 0.4s linear 0.5s, background-color 0.4s linear 0.5s, opacity 0.2s linear 0.2s, transform 0.6s ease-in-out 0.2s;
  transition: color 0.4s linear 0.5s, background-color 0.4s linear 0.5s, opacity 0.2s linear 0.2s, transform 0.6s ease-in-out 0.2s, -webkit-transform 0.6s ease-in-out 0.2s;
}

.container .sectionThree::before {
  content: "";
  background: url("/images/oil.png") no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.container .sectionThreeLoaded::before {
  opacity: 0.2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.container .sectionFour {
  position: relative;
  padding: 6em 0;
}

.container .sectionFour .sectionFourInner {
  margin: 0 auto;
  text-align: center;
  max-width: 500px;
}

@media (min-width: 60em) {
  .container .sectionFour .sectionFourInner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 3em 0;
    -webkit-column-gap: 1em;
            column-gap: 1em;
    max-width: 1100px;
    width: 85%;
    height: 45em;
  }
}

.container .sectionFour .sectionFourInner::before {
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: url("/images/curvy_background.png") no-repeat;
  background-size: contain;
  z-index: -1;
}

@media (min-width: 60em) {
  .container .sectionFour .sectionFourInner::before {
    background-size: cover;
  }
}

@media (max-width: 60em) {
  .container .sectionFour .sectionFourInner:after {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background: url("/images/curvy_background.png") no-repeat;
    background-size: contain;
    z-index: -1;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.container:after {
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: url("/images/curvy_background.png") no-repeat;
  background-size: contain;
  z-index: -9999;
  opacity: 0.1;
  -webkit-transform: translateY(100%) rotate(180deg);
          transform: translateY(100%) rotate(180deg);
}

@media (min-width: 35em) {
  .container:after {
    -webkit-transform: translateY(62%) rotate(180deg);
            transform: translateY(62%) rotate(180deg);
  }
}

@media (min-width: 60em) {
  .container:after {
    -webkit-transform: translateY(85%) rotate(180deg);
            transform: translateY(85%) rotate(180deg);
  }
}
/*# sourceMappingURL=Home.module.css.map */