@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Kanit:wght@300&family=Modak&family=Moul&family=Caveat&family=Kalam&family=Titan+One&family=Domine&display=swap");
.containerBlurred {
  opacity: 0.3;
}

.container {
  background-color: #fffffc;
  margin-top: 2em;
}

.container .themeTicker {
  background-color: #9bf6ff;
  padding: 0.5em 0;
  overflow: hidden;
}

.container .themeTicker .themeInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: tickerh linear 15s infinite;
          animation: tickerh linear 15s infinite;
}

@media (hover: hover) and (pointer: fine) {
  .container .themeTicker .themeInner:hover {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}

@-webkit-keyframes tickerh {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

@keyframes tickerh {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

.container .themeTicker .themeInner div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  font-weight: 700;
  padding: 0 0.5em;
  cursor: pointer;
}

.container .sectionOne {
  background: url("/images/background.png") no-repeat;
  background-size: cover;
  font-size: 1.2em;
  min-height: 65vh;
  margin: 2em;
  padding: 10em 1em 4em;
  border-radius: 2em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.theme-Standard .container .sectionOne {
  background-color: #fdffb6;
}

.theme-Rainbows Unicorns .container .sectionOne {
  background-color: #242423;
}

.theme-Moody .container .sectionOne {
  background-color: #242423;
}

.theme-Random .container .sectionOne {
  background-color: #242423;
}

@media (min-width: 35em) {
  .container .sectionOne {
    display: block;
    padding: 14em 2em 6em;
  }
}

@media (min-width: 55em) {
  .container .sectionOne {
    margin: 2em 10vw;
  }
}

.container .sectionOne h1 {
  font-size: 12vw;
  font-family: Alfa Slab One, Moul, Modak, Impact, monospace;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: end;
  line-height: 90%;
  position: absolute;
}

@media (min-width: 35em) {
  .container .sectionOne h1 {
    position: absolute;
    bottom: 0.2em;
    right: 0.2em;
  }
}

.container .sectionOne .navLinksMobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.97em;
  font-size: 2em;
  font-weight: 700;
  text-align: end;
}

.container .sectionOne aside {
  -webkit-transform: rotate(-90deg) translateX(-25vw);
          transform: rotate(-90deg) translateX(-25vw);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  line-height: 120%;
  font-size: 3.7vw;
}

@media (min-width: 55em) {
  .container .sectionOne aside {
    position: absolute;
    top: 13em;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    font-size: 1.7em;
  }
}

.container .sectionOne .download {
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 0.75em 2em;
  border-radius: 1em;
  background-color: #fe5f55;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  font-weight: 800;
}

@media (min-width: 35em) {
  .container .sectionOne .download {
    position: absolute;
    bottom: 3em;
    padding: 1.25em 3em;
  }
}

@media (hover: hover) and (pointer: fine) {
  .container .sectionOne .download:hover {
    background-color: #fa8d85;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
}

.container .sectionTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 35em) {
  .container .sectionTwo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.container .sectionTwo .divOne {
  padding: 1em;
}

.container .sectionTwo .divQoute {
  font-family: Kalam, Caveat, Bradley Hand, cursive;
  background-color: #9bf6ff;
  margin: 1.5em;
  padding: 6em 2em;
  border-radius: 2em;
  position: relative;
}

@media (min-width: 35em) {
  .container .sectionTwo .divQoute {
    margin: 1.5em 5em;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
}

.container .sectionTwo .divQoute q {
  font-size: 2em;
}

.container .sectionTwo .divQoute cite {
  font-size: 1.3em;
  position: absolute;
  right: 3em;
  bottom: 3em;
}

.container .sectionThree {
  position: relative;
  min-height: 70vh;
  width: 100%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .sectionThree .divOnImg {
  padding: 1em;
  margin: 1em 0;
  width: 70vw;
  color: transparent;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1px;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.8s linear 1s, background-color 0.8s linear 1s;
  transition: color 0.8s linear 1s, background-color 0.8s linear 1s;
}

@media (min-width: 55em) {
  .container .sectionThree .divOnImg {
    padding: 6em 8em;
    margin: 2em 0;
  }
}

.container .sectionThree .divOnImg .p {
  max-height: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  overflow: hidden;
}

.container .sectionThree .divOnImg .pExpanded {
  max-height: 199vh;
  -webkit-transition: 1.8s;
  transition: 1.8s;
}

.container .sectionThree .divOnImg span {
  cursor: pointer;
  padding: 1em 0;
}

.container .sectionThree .divOnImgLoaded {
  background-color: rgba(108, 117, 125, 0.85);
  border-radius: 1em;
  color: #fffffc;
  -webkit-transition: color 0.8s linear 1s, background-color 0.8s linear 1s;
  transition: color 0.8s linear 1s, background-color 0.8s linear 1s;
}

.container .sectionThree::before {
  content: "";
  background: url("/images/oil.png") no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.container .sectionThreeLoaded::before {
  opacity: 0.2;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.container .sectionThreeExpanded {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.container .sectionFour {
  margin: 4em auto;
  text-align: center;
  max-width: 400px;
}

@media (min-width: 55em) {
  .container .sectionFour {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 3em 0;
    -webkit-column-gap: 1em;
            column-gap: 1em;
    max-width: 1100px;
    width: 85%;
    height: 45em;
  }
}
/*# sourceMappingURL=Home.module.css.map */