@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Kanit:wght@300&family=Modak&family=Moul&family=Caveat&family=Kalam&family=Titan+One&family=Domine&display=swap");
.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper .header {
  text-align: center;
  padding: 3em;
}

.wrapper .header * {
  padding: 0.5em 0;
}

.wrapper .header .portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .header .portfolio p {
  padding-right: 1em;
}

.wrapper .header .portfolio svg {
  padding: 0;
  border-radius: 50%;
}

@media (hover: hover) and (pointer: fine) {
  .wrapper .header .portfolio svg:hover {
    background-color: black;
    color: #fffffc;
  }
}

.wrapper .outerContainer .sectionCode .codeContainer {
  padding: 2em;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 500px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2vw;
}

.wrapper .outerContainer .sectionCode .tile {
  max-width: 500px;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  opacity: 0.6;
  position: relative;
}

:global(.theme-Standard) .wrapper .outerContainer .sectionCode .tile {
  background-color: #fffffc;
}

:global(.theme-Ukraine) .wrapper .outerContainer .sectionCode .tile {
  background-color: #005BBB;
}

@media (min-width: 60em) and (hover: hover) and (pointer: fine) {
  .wrapper .outerContainer .sectionCode .tile:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    opacity: 1;
  }
}

.wrapper .outerContainer .sectionCode .tile img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.wrapper .outerContainer .sectionCode .tile .iconContainer {
  position: absolute;
  top: 1em;
  right: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8em;
}

.wrapper .outerContainer .sectionCode .tile:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.wrapper .overlay {
  position: fixed;
  top: 50%;
  width: 100%;
  height: 0;
  background-size: cover;
}

.wrapper .overlay .close {
  position: absolute;
  top: 2em;
  right: 2em;
  cursor: pointer;
  z-index: 9998;
}

.wrapper .overlay img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.wrapper .overlay .modalText {
  border: solid 0.5em black;
  background-color: #fffffc;
  position: absolute;
  width: 80%;
  bottom: 3em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease-in-out 0.4s;
  transition: all 0.3s ease-in-out 0.4s;
  z-index: 999;
}

.wrapper .overlay .modalText .slide {
  position: absolute;
  background-color: #fffffc;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.wrapper .overlay .modalText .slideOpen {
  width: 0%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.wrapper .overlay .modalText .modalInner {
  padding: 1em;
}

@media (min-width: 35em) {
  .wrapper .overlay .modalText .modalInner {
    padding: 4em;
  }
}

.wrapper .overlay .modalText .modalInner .tags {
  font-weight: 600;
  padding-top: 0.5em;
}

.wrapper .overlay .modalText .modalInner .linkContainer {
  padding-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper .overlay .modalText .modalInner .linkContainer a {
  margin-top: auto;
  cursor: pointer;
}

.wrapper .overlay .modalText .modalInner .linkContainer a svg {
  border-radius: 50%;
}

@media (hover: hover) and (pointer: fine) {
  .wrapper .overlay .modalText .modalInner .linkContainer a svg:hover {
    background-color: black;
    color: #fffffc;
  }
}

.wrapper .overlayVisible {
  border: solid 0.5em black;
  top: 0;
  height: 100vh;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 998;
}
/*# sourceMappingURL=Projects.module.css.map */