@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Kanit:wght@300&family=Modak&family=Moul&family=Caveat&family=Kalam&family=Titan+One&family=Domine&display=swap");
.sectionOne {
  height: 100%;
}

@media (min-width: 55em) {
  .sectionOne {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sectionOne .imagesContainer {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sectionOne .imagesContainer .stickPointContainer {
    width: 20em;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.sectionOne .mediaContainer {
  width: 100%;
}

:global(.theme-Standard) .sectionOne .mediaContainer {
  background-color: #9bf6ff;
}

:global(.theme-Rainbows Unicorns) .sectionOne .mediaContainer {
  background-color: #242423;
}

:global(.theme-Stephen_King) .sectionOne .mediaContainer {
  background-color: #242423;
}

:global(.theme-Random) .sectionOne .mediaContainer {
  background-color: #242423;
}

:global(.theme-Ukraine) .sectionOne .mediaContainer {
  background-color: #FFD500;
}

@media (min-width: 55em) {
  .sectionOne .mediaContainer {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.sectionOne .mediaContainer .imgCodeContainer {
  width: 100%;
  height: auto;
}

.sectionOne .mediaContainer .textCodeContainer {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionOne .mediaContainer .textCodeContainer h3 {
  margin-bottom: 1em;
}

.sectionOne .mediaContainer .textCodeContainer .mediaList {
  width: 100%;
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sectionOne .mediaContainer .textCodeContainer .mediaList h5 {
  font-size: 2em;
  margin: 0 2em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sectionOne .mediaContainer .textCodeContainer .mediaList ul {
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (min-width: 55em) {
  .sectionOne .mediaContainer .textCodeContainer .mediaList ul {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.sectionOne .mediaContainer .textCodeContainer .mediaList ul .spanOpen {
  display: inline-block;
  font-size: 6em;
  font-weight: 700;
  -webkit-transform: rotate(450deg);
          transform: rotate(450deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.sectionOne .mediaContainer .textCodeContainer .mediaList ul .spanClosed {
  display: inline-block;
  font-size: 6em;
  font-weight: 700;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.sectionOne .mediaContainer .textCodeContainer .mediaList ul li {
  list-style: none;
  margin: 1em;
  font-size: 1.2em;
  font-weight: 900;
  opacity: 0;
}

.sectionOne .mediaContainer .textCodeContainer .mediaList ul .list {
  opacity: 1;
}

.scrollRoll {
  width: 100%;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:global(.theme-Standard) .scrollRoll {
  background-color: #fe5f55;
}

:global(.theme-Rainbows Unicorns) .scrollRoll {
  background-color: #fe5f55;
}

:global(.theme-Stephen_King) .scrollRoll {
  background-color: #fe5f55;
}

:global(.theme-Random) .scrollRoll {
  background-color: #fe5f55;
}

:global(.theme-Ukraine) .scrollRoll {
  background-color: #fe5f55;
}

.scrollRoll .imgScrollContainer {
  height: 80%;
  width: 20%;
  position: relative;
}

.certSection {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

:global(.theme-Standard) .certSection {
  background-color: #fffffc;
}

:global(.theme-Rainbows Unicorns) .certSection {
  background-color: #F5F4F4;
}

:global(.theme-Stephen_King) .certSection {
  background-color: #F5F4F4;
}

:global(.theme-Random) .certSection {
  background-color: #F5F4F4;
}

:global(.theme-Ukraine) .certSection {
  background-color: #005BBB;
}

@media (min-width: 55em) {
  .certSection {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.certSection .graduationContainer {
  height: 100%;
  width: 100%;
  position: relative;
}

@media (min-width: 55em) {
  .certSection .graduationContainer {
    height: 100%;
    width: 50%;
  }
}

.certSection .certificatesContainer {
  padding: 1em;
}

.certSection .certificatesContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 55em) {
  .certSection .certificatesContainer ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    letter-spacing: 0.8px;
  }
}

.certSection .certificatesContainer ul li {
  padding: 0.4em 0;
  font-size: 0.9em;
  font-weight: 600;
  list-style: none;
  text-align: start;
}

:global(.theme-Standard) .certSection .certificatesContainer ul li {
  color: #242423;
}

:global(.theme-Rainbows Unicorns) .certSection .certificatesContainer ul li {
  color: #FFD500;
}

:global(.theme-Stephen_King) .certSection .certificatesContainer ul li {
  color: #FFD500;
}

:global(.theme-Random) .certSection .certificatesContainer ul li {
  color: #FFD500;
}

:global(.theme-Ukraine) .certSection .certificatesContainer ul li {
  color: #FFD500;
}

@media (min-width: 55em) {
  .certSection .certificatesContainer ul li {
    padding: 0.3em 1.6em;
    font-size: 1em;
    text-align: start;
    border: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
  }
}

@media (min-width: 55em) and (hover: hover) and (pointer: fine) {
  .certSection .certificatesContainer ul li:hover {
    background-color: azure;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
}

.ticker {
  width: 100%;
  border-top: 0.5px  solid black;
  border-bottom: 0.5px  solid black;
  padding-left: 100%;
  overflow: hidden;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

:global(.theme-Standard) .ticker {
  background-color: #9bf6ff;
}

:global(.theme-Rainbows Unicorns) .ticker {
  background-color: #242423;
}

:global(.theme-Stephen_King) .ticker {
  background-color: #242423;
}

:global(.theme-Random) .ticker {
  background-color: #242423;
}

:global(.theme-Ukraine) .ticker {
  background-color: #FFD500;
}

.ticker .innerTicker {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-animation: tickerh linear 35s infinite;
          animation: tickerh linear 35s infinite;
}

@-webkit-keyframes tickerh {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

@keyframes tickerh {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

.ticker .innerTicker svg {
  margin: 0.5em;
  display: inline-block;
  font-size: 4em;
  font-weight: 700;
}

.personality {
  position: relative;
  padding: 4em 1em 8em;
  background: url("/images/codebg.png") no-repeat;
  background-size: cover;
  min-height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
          box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.personality .textPersonality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1em;
  font-weight: 600;
  margin-bottom: 4em;
  line-height: 120%;
}

.personality .textPersonality :nth-child(odd) {
  margin-left: 5em;
}

.personality .textPersonality :nth-child(even) {
  margin-left: 10em;
}

.personality .bottomPersonality {
  font-size: 2.5vw;
  font-weight: 800;
  margin: 0 auto;
  width: 95%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 0.5em;
          column-gap: 0.5em;
  row-gap: 1em;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 55em) {
  .personality .bottomPersonality {
    font-size: 1.4vw;
    width: 80%;
  }
}

.personality .bottomPersonality p {
  text-align: center;
  padding: 0.5em 1.25em;
  border-radius: 2em;
}

:global(.theme-Standard) .personality .bottomPersonality .pActive {
  background-color: #fe5f55;
}

:global(.theme-Rainbows Unicorns) .personality .bottomPersonality .pActive {
  background-color: #fe5f55;
}

:global(.theme-Stephen_King) .personality .bottomPersonality .pActive {
  background-color: #fe5f55;
}

:global(.theme-Random) .personality .bottomPersonality .pActive {
  background-color: #fe5f55;
}

:global(.theme-Ukraine) .personality .bottomPersonality .pActive {
  background-color: #242423;
}

.personality .codeBtn {
  position: absolute;
  bottom: -8%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50%;
  border-radius: 2em;
  padding: 1em 0;
  font-weight: 800;
  font-size: 1.6em;
  text-align: center;
}

:global(.theme-Standard) .personality .codeBtn {
  background-color: #fe5f55;
}

:global(.theme-Rainbows Unicorns) .personality .codeBtn {
  background-color: #fe5f55;
}

:global(.theme-Stephen_King) .personality .codeBtn {
  background-color: #fe5f55;
}

:global(.theme-Random) .personality .codeBtn {
  background-color: #fe5f55;
}

:global(.theme-Ukraine) .personality .codeBtn {
  background-color: #fe5f55;
}

@media (hover: hover) and (pointer: fine) {
  .personality .codeBtn:hover {
    background-color: black;
    color: #fffffc;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.sectionCode .codeContainer {
  width: 100%;
  max-height: 499vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2vw;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
}

:global(.theme-Standard) .sectionCode .codeContainer {
  background-color: #9bf6ff;
}

:global(.theme-Rainbows Unicorns) .sectionCode .codeContainer {
  background-color: #242423;
}

:global(.theme-Stephen_King) .sectionCode .codeContainer {
  background-color: #242423;
}

:global(.theme-Random) .sectionCode .codeContainer {
  background-color: #242423;
}

:global(.theme-Ukraine) .sectionCode .codeContainer {
  background-color: #FFD500;
}

.sectionCode .codeContainerClosed {
  max-height: 0;
  -webkit-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
}

.parallax {
  width: 100vw;
  padding: 80vh 0 40vh;
  background: url("/images/spain.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media (min-width: 55em) {
  .parallax {
    background: url("/images/spain-wide.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom left;
  }
}

.parallax .nonTechSection .pastContainer {
  width: 80%;
  background-color: rgba(108, 117, 125, 0.8);
  color: #fffffc;
  font-family: Kalam, Caveat, Bradley Hand, cursive;
  font-size: 2em;
  letter-spacing: 1px;
  padding: 1em 0.6em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 55em) {
  .parallax .nonTechSection .pastContainer {
    width: 90%;
    margin: 0 auto;
    padding: 1.2em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.parallax .nonTechSection .pastContainer .pastImgContainer {
  width: 30vw;
  height: auto;
}

@media (min-width: 55em) {
  .parallax .nonTechSection .pastContainer .pastImgContainer {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (min-width: 55em) {
  .parallax .nonTechSection .pastContainer .spacer {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.parallax .nonTechSection .pastContainer .pastTextContainer {
  font-size: 0.7em;
  font-weight: 700;
  line-height: 120%;
}

@media (min-width: 55em) {
  .parallax .nonTechSection .pastContainer .pastTextContainer {
    font-size: 1em;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}

.parallax .nonTechSection > :nth-child(even) {
  margin: 80vh auto;
}

@media (min-width: 55em) {
  .parallax .nonTechSection > :nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
/*# sourceMappingURL=Skills.module.css.map */